.footer {
    background-color: #262523;
    color: #fff;
    padding: 20px;
    font-family: ClashDisplay, sans-serif;
    font-weight: 500 !important;
    font-size: 1.2em;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.footer-text a {
    text-decoration: none;
    color: #fff;
}

.footer-logos {
    display: flex;
    gap: 1.2em;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .footer-text {
        display: grid;
        grid-template-columns: 1fr auto;
        /* Links Textblock, rechts Logos */
        gap: 0rem;
        align-items: center;
        /* Zentriert alles vertikal im Grid */
    }

    .footer-text p {
        margin: 0;
        display: block;
    }

    .footer-text p:nth-of-type(1),
    .footer-text p:nth-of-type(2) {
        grid-column: 1;
        /* Linke Spalte */
    }

    .footer-logos {
        grid-column: 2;
        /* Rechte Spalte */
        display: flex;
        gap: 0.5rem;
        align-items: center;
        /* Logos innerhalb der Spalte mittig vertikal */
        align-self: center;
        /* Ganze Spalte vertikal mittig im Grid */
    }
}

@media (max-width: 500px) {
    .footer-text {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        font-size: .8em;
        height: 82px;
    }

    .footer-logos a svg {
        width: 20px;
        height: 20px;
    }

    .footer {
        padding: 20px 10px;
    }

    .projectsPage-header {
        padding: 0rem 1rem;
    }

}

@media (max-width: 319px) {
    .footer-text {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        font-size: .8em;
        height: 82px;
    }

    .footer-logos a svg {
        width: 20px;
        height: 20px;
    }

    .footer {
        padding: 20px;
    }

    .filter-btn {
        font-size: .75rem;
    }



}