/* Dünne schwarze Linie mit max-width und Padding */
.black-line {
  width: calc(100% - 3rem);
  max-width: 1700px;
  margin: 3rem auto;
  height: 1px;
  background: #222;
  opacity: 0.5;
  border-radius: 1px;

}

/* homepageContent.css */

.wrapper-content {
  font-size: 1.2rem;
}

.homepageContent h2 {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: ClashDisplay, sans-serif;
}

/* Allgemeine Stile für alle Content-Sections */
.content {
  margin-bottom: 6rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s ease forwards;
}

.d-content {
  background: #000000;
  background: linear-gradient(354deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 61%, rgba(56, 56, 56, 1) 91%);
  width: 100%;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Me Section */

.aboutMe {
  animation-delay: 0.2s;
  max-width: 1500px;
  margin: 0 auto;
  padding: 110px 2rem 4rem 2rem;
  color: #ddd;
  font-family: 'Sora', sans-serif;
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  flex-direction: row;

}

.aboutMe-image {
  flex: 0 0 350px;
  border-radius: 16px;
  overflow: visible;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5),
    0 10px 10px -5px rgba(0, 0, 0, 0.3);
  height: 400px;
  background: linear-gradient(90deg, #4f46e5, #10b981);
  position: relative;
}

.aboutMe-img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.aboutMe-title {
  margin-bottom: 1.5rem;
  color: #ffffff;
  position: relative;
}

.aboutMe-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #4f46e5, #10b981);
  border-radius: 2px;
}

.homepageContent * p {
  line-height: 1.6;
  font-size: 1.5rem;
  font-family: 'Sora', sans-serif;
  font-weight: 300;
}

.aboutMe-description {
  margin-bottom: 1.5rem;
}

/* Experience Section */
.experience {
  padding: 3rem;
  max-width: 1500px;
  margin: 0 auto;
  animation-delay: 0.4s;
}

.experience-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.exp-text {
  line-height: 1.6;
}

.exp-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* CSS für den horizontalen Logo-Slider */
.exp-logos {
  display: flex;
  animation: scroll-logos 20s linear infinite;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /* margin: 0 auto; */
}

.exp-logo-wrapper {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 170px;
}

.exp-logo {
  height: 3rem;
  width: auto;
  aspect-ratio: auto;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.exp-logo:hover {
  transform: scale(1.1);
}

/* Projects Section */
.projects {
  margin-top: 6rem;
  animation-delay: 0.6s;
  padding: 3rem;
  border: 1px solid #8f8f8f;
    max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.projects-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  position: relative;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  /* text-align: center; */
  padding-left: 15px;
  margin: 1rem 0 0.5rem 0;
  font-family: ClashDisplay;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.projects>div {

}

.projects-container {

  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0em;
  height: 600px;
}

.project-box:hover {
  cursor: pointer;
}

.project-box.small {
  background: #222;
  /* border-radius: 12px; */
  overflow: hidden;
  grid-column: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-box.small:hover {
  transform: translateY(-8px) scale(1.005);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

.project-box.small:first-child {
  grid-row: 1;
}

.project-box.small:last-child {
  grid-row: 2;
}

.project-box.large {
  background: #222;
  /* border-radius: 12px; */
  overflow: hidden;
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-box.large:hover {
  transform: translateY(-8px) scale(1.005);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

.project-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* border-radius: 12px 12px 0 0; */
  object-position: top;
}

.projects-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}



.projects-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #4f46e5, #10b981);
  border-radius: 2px;
}

/* Button Styling */
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  /* background: linear-gradient(90deg, #4f46e5, #10b981); */
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.6);
}

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes zoom-in {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.4;
  }
}